<div id="page-content-1">
  <h1 class="text-center pt-4">Article listing page</h1>

    <div class="container">
      <div class="row">
        <% @articles.each do |n| %>

            <div class="col-xs-12 col-md-6 ">
              <div class="card text-center m-5 shadow bg-white rounded">
                      <div class="card-header font-italic">
                    By  <%= n.user.username %>
                      </div>
                          <div class="card-body">
                            <h5 class="card-title">  <%= link_to n.title, article_path(n), class: "text-success" %></h5>
                            <p class="card-text"><%= truncate( n.description, length:20) %></p>

                            <%= link_to "edit", edit_article_path(n), class: "btn btn-outline-secondary"%>
                            <%= link_to "show", article_path(n), class: "btn btn-outline-primary" %>
                            <%= button_to "Delete", article_path(n),class: "btn btn-danger",id: "delete-btn", method: :delete %>
                          </div>
                        <div class="card-footer text-muted">Created
                          <%=  time_ago_in_words(n.created_at)  %> ago

                       </div>
                  </div>
              </div>


    <% end %>

      </div>
    </div>

<button>
<%= link_to "Crear nuevo articulo", new_article_path %>
</button>
</div>
