<div id="page-content">
  <h2 class="text-center pt-4"><%= @article.title %></h2>

    <div class="container">
      <div class="row">
            <div class="col-xs-12 ">
              <div class="card text-center m-5 shadow bg-white rounded">
                      <div class="card-header font-italic">
                        By <%= @article.user.username %>
                      </div>
                          <div class="card-body">
                            <div class="card-text text-left"><%=  simple_format(@article.description) %></div>
                            <% if logged_in? && (@article.user == current_user || current_user.admin?) %>

                            <%= link_to "edit", edit_article_path(@article), class: "btn btn-outline-secondary"%>
                            <%= button_to "Delete", article_path(@article),class: "btn btn-danger",id: "delete-btn", method: :delete %>
                            <% end %>
                          </div>
                        <div class="card-footer text-muted">Created
                          <%=  time_ago_in_words(@article.created_at)  %> ago

                       </div>
                  </div>
              </div>



      </div>
    </div>

<button>
<%= link_to "Crear nuevo articulo", new_article_path %>
</button>
</div>
