
<h1 class="text-center">Alpha Bloggers</h1>
<div class="flickr_pagination ">

  <%= will_paginate @user, :container => false %>
</div>
<div class="container">
  <div class="row">
    <% @user.each do |user| %>

        <div class="col-xs-12 col-md-6 ">
          <div class="card text-center m-5 shadow bg-white rounded">
                  <div class="card-header font-italic">
                 <%= link_to user.username, user %>
                  </div>
                      <div class="card-body">
                        <h5 class="card-title">  <%= link_to image_tag("https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", :alt => "rss feed", class: "img-thumbnail text-center mx-auto d-block", style: 'height:150px;width:auto;') %></h5>
                        <p class="card-text"> <%= pluralize(user.articles.count, "article") %></p>

                        <%= link_to "show", user_path(user), class: "btn btn-outline-primary" %>
                        <% if logged_in? %>
                              <% if user == current_user %>
                                <%= link_to "edit", edit_user_path(user), class: "btn btn-outline-secondary"%>
                              <% end %>

                              <% if current_user.admin? %>
                                <%= button_to "Delete", user ,class: "btn btn-danger",id: "delete-btn", method: :delete %>
                              <% end %>
                         <% end %>

                      </div>
                    <div class="card-footer text-muted">Joined
                      <%=  time_ago_in_words(user.created_at)  %> ago

                   </div>
              </div>
          </div>


<% end %>
<div class="flickr_pagination mb-5 pb-3">

  <%= will_paginate @user, :container => false %>
</div>
  </div>
</div>
