<h1 class="text-center mt-4"><%= @user.username %> Profile</h1>
<%= image_tag("https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", :alt => "rss feed", class: "img-thumbnail text-center mx-auto d-block", style: 'height:200px;width:auto;') %>
<div class="text-center mt-4">
  <% if logged_in? && @user == current_user %>

  <%= link_to "Edit Your Profile", edit_user_path(@user), class: "btn btn-outline-secondary text-center"%>
  <%= button_to "Delete", user_path(current_user) ,class: "btn btn-danger",id: "delete-btn", method: :delete %>


 <% end %>

</div>


<h2 class="text-center">articles</h2>


<%= render 'articles/article' %>
